*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: blue; */
    background-color:rgb(44, 43, 43);
    color: white;
    font-family: 'Fredoka', sans-serif;
}
header{
    display: flex;
    justify-content: flex-start;
    margin-top: 3vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid whitesmoke;
}

header>ul>li {
    margin-right: 2vw;
    list-style: none;
    /* color: blueviolet; */
}

.header li:hover{
 color: aqua; 
 /* background-color: #fff;   */
}

.header>li>img{
    width:2vw;
    height:4vh;
    object-fit:fill;
    padding-top: 1vh;
}

 header>img{
     margin-left:1.5vw;
     /* margin-top: 3vh; */
     width:10vw;
     /* object-fit: cover; */

 }
.header{
    margin-left: 5vw;
    /* margin-top:3vh; */
    display: flex;
    justify-content: space-around;
    width:25vw;
    flex-wrap: wrap;
}

.search{
    display: flex;
    margin-left:32vw;
}
.search input{
    width:37vh;
    height:4.5vh;
    border-radius: 50px;
    padding-left:5.8rem;
    background-color: antiquewhite;
    /* rem considers the outer the parent */
    /* em will consider the whole size of the screen root most screen */
}

.search>input:hover{
    background-color:rgb(158, 241, 150);
    color: black;
}


.search>input::placeholder{
    display: flex;
    justify-content: center;
    margin-left:5vw;
    color: black;
   
}

::-webkit-input-placeholder {
    /* text-align: center; */
    padding-left:1vw;
 }
 
 section{
     margin-top:4vh;
     margin-left:8vh;
 }

 .catag{
     margin-top: 2vh;
     display: flex;
     justify-content: space-between;
     width:25vw;
     list-style: none;
 }

 .catag>li{
     border:1px solid black;
     padding: 8px;
    border-radius: 25px;
    background-color: gray;
    color: white;
}

.catag>li:hover{
    background-color: darkolivegreen;
    color: greenyellow;
}

.albumsparent{
    list-style:none;
    display: flex;
    justify-content: space-between;
}

.albumsparent li p{
    position: absolute;
    padding-top:7vh;
    text-align: center;
    opacity: 0;
    width:inherit;
    height: inherit;
}

.albumsparent li p:hover{
    opacity: 1;
    /* background-color:transparent; */
    border:1px solid green;
    border-radius: 10px;
    width: inherit;
    height: inherit;
}

.playlist{
    margin-top: 5vh;
}

.playlist>.albumsparent{
    margin-top: 2vh;
}

.album{
    background-color:white;
    width:25vh;
    height:25vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.album>img{
    border-radius:10px ;
    height: inherit;
    width: inherit;
    object-fit:cover;
}
